  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      background-color: #24252a;

      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
  }

  html {
      scroll-behavior: smooth;
  }

  li,
  a,
  button {
      
      color: #edf0f1;
      text-decoration: none;

  }

  /***************************** Begin NavBar *****************************/
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
  }

  .contact {
      padding: 9px 25px;
      background-color: rgba(0, 136, 169, 1);
      border-radius: 10px;
      cursor: pointer;
      border: none;
      transition: all 0.3s ease 0;

  }

  .contact:hover {
      background-color: rgba(0, 136, 169, .8);
  }

  .logo {
      cursor: pointer;
  }

  .nav-links {
      list-style: none;
  }

  .nav-links li {
      display: inline-block;
      padding: 0 20px;
  }

  .nav-links li a {
      transition: all 0.3s ease 0;

  }

  .nav-links li a:hover {
      color: #0088a9
  }

  /***************************** End NavBar *****************************/

  /***************************** Begin Intro *****************************/
  #intro {
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  #intro h1 {
      color: #edf0f1;
      font-size: 30px;

  }

  #intro a {
      border: none;
      border-radius: 10px;
      background-color: rgba(0, 136, 169, 1);
      margin-top: 30px;
      padding: 9px 25px;
      cursor: pointer;
  }

  /***************************** End Intro *****************************/

  /***************************** Begin About *****************************/
  #about {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  #about h1 {
      color: #edf0f1;
      font-size: 40px;
  }

  #about p {
      color: #edf0f1;
      margin-left: 250px;
      margin-right: 250px;
      font-size: 25px;
      text-align: center;
      margin-bottom: 10px;
  }

  #about a{
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 136, 169, 1);
    
    padding: 9px 25px;
    cursor: pointer;
  }

  .about-links{
      margin: 10px;
  } 
  .about-links a{

      margin:2px;
  }
  /***************************** End About *****************************/